option_settings:
  aws:autoscaling:asg:
    MinSize: "1"
    MaxSize: "1"
  aws:autoscaling:launchconfiguration:
    DisableIMDSv1: "true"
  aws:elasticbeanstalk:application:environment:
    PORT: "8080"
    MLB_DB_PATH: "/app/data/mlb.db"
    STREAMLIT_BROWSER_GATHER_USAGE_STATS: "false"
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: "true"
    DeleteOnTerminate: "false"
    RetentionInDays: "14"
  aws:elasticbeanstalk:cloudwatch:logs:health:
    HealthStreamingEnabled: "true"
    DeleteOnTerminate: "false"
    RetentionInDays: "14"
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: "/_stcore/health"
    MatcherHTTPCode: "200"
    StickinessEnabled: "true"
    StickinessLBCookieDuration: "86400"
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: "enhanced"
